@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.bio {
    margin-top: 15px;
    height: 200px;
    width: 500px;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    right: -800px;
    padding: 10px;
    color: black;
    font-weight: 600;
    font-family: 'Kanit', Arial, Helvetica, sans-serif;
    display: none;
}