
/* @import url(); */

.bio {
    top: 105%;
    margin-left: 15%;
    height: 30%;
    width: 30%;
    position: absolute;
    padding: 10px;
    color: black;
    font-weight: 600;
    font-family: 'Kanit', Arial, Helvetica, sans-serif;
    
}