
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");




.body {
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 150px;
    margin-top: 50px;
   
}

.switch {
    margin-top: 25px;
    margin-right: 50px;
    margin-bottom: 50px;
    justify-content: flex-end;
    border-radius: 5px;
    position: relative; 
    border: 2px solid black;
    padding: 2px;
    object-fit:fill;
}



.category {
    margin-left: 100px;
    margin-top: 25px;
    
}

.display {
    margin-bottom: 50px;
    font-size: 48px;
    color: black;
    font-family: 'Kanit', Arial, Helvetica, sans-serif;
    opacity: 85%;
    font-weight: 600;
}

.display:hover {
    color: #34BFC4;
    cursor: pointer;
    opacity: 100%;
    text-align: right;
    
    
}

button {
    font-family: Helvetica;
    font-weight: 600;
    border: none;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    color: #34BFC4;
    border: 1px solid #34BFC4;
}
.prev {
    margin-right: 15%;
    margin-left: 18%;
    
}

.next {
    margin-left: 15%;
    
}